* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}
main > * {
	background-color: burlywood;
	padding:10px;
	font-size: 3em;
}

/**Definimos el GRID container**/
main {
	display: grid;
	gap: 1em;
	grid-template-areas: 
	  "header"
	  "right"
	  "article"
	  "left"
	  "footer"
	;
}

/**Destok**/

@media (min-width: 576px){
	main {
		grid-template-areas: 
		  "header header header"
		  "right article left"
		  "footer footer footer"
		;
	}
	
}

/**Nombramos los Elementos**/
header {
	grid-area: header;
}
aside:first-of-type {
	grid-area: right;
}
aside:last-of-type{
	grid-area: left;
}
article {
	grid-area: article;
}
footer {
	grid-area: footer;
}

