* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	height: 100vh;
	padding: 10px;
	display: grid;
	gap: 10px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	display: flex;
	justify-content: center;
	align-items: center;
}

.card .textos {
	height: 100%;
	display: flex;
	justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
	.contenedor {
		height: 100vh;
		display: grid;
		gap: 10px 20px;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		grid-auto-rows: 1fr;
	}
	
}

@media screen and (min-width: 700px) and (max-width: 900px)  {
	.contenedor {
		height: 100vh;
		display: grid;
		gap: 30px 10px;
		grid-template-columns: auto auto ;
		grid-template-rows: auto auto;
		grid-auto-rows: 1fr;
	}
}

@media screen and (min-width: 600px) and (max-width: 700px) {
	.contenedor {
		height: 100vh;
		display: grid;
		gap: 30px;
		grid-template-columns: auto auto ;
		grid-template-rows: auto  auto; 
	}
	
}